@font-face {
  src: url("./assets/Poppins-Regular.ttf");
  font-family: poppins-regular;
}
@font-face {
  src: url("./assets/Montserrat-Regular.ttf");
  font-family: montserrat-regular;
}

.boiler-main {
  min-height: 80vh;
}
.boiler-title-background {
  height: 40vh;
  background-color: #fccf08;
  display: flex;
  justify-content: center;
  align-items: center;
}
.boiler-header {
  color: #fff;
  font-weight: 500;
  font-family: sans-serif;
}

.faq-question {
  font-family: montserrat-regular;
  font-size: 20px;
  color: #333;
  margin-top: 45px;
}
.faq-answer {
  margin-top: 5px;
  font-family: poppins-regular;
  font-size: 12px;
  color: #666;
  width: 80%;
}
